.principal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    width: 80%;
}

.content img {
    width: 40%;
    height: 90vh;
}

.areaLogin{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.areaLogin img{
    width: 450px;
    height: 230px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
}

.inputs label {
    font-weight: 500;
    align-self: flex-start;
    font-size: 1.75rem;
    color: var(--cinza);
}

.inputs input {
    border-radius: 5px;
    width: 100%;
    background-color: rgba(214, 210, 230, 0.2);
    padding: 10px;
    margin-top: .5rem;
}

.inputs input:focus{
    background-color: rgba(214, 210, 230, 0.7);
}

.btn_entrar{
    width: 30%;
    background-color: transparent;
    color: var(--cinza);
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--vermelho);
}

.btn_entrar:hover{
    cursor: pointer;
    background-color: var(--vermelho);
}