* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

:root {
  --fundo-claro: #221C2D;
  --fundo-escuro: #0B0616;
  --roxo: #7A3BFF;
  --vermelho: #FF004C;
  --cinza: #D6D2E6;

  --tamanho-titulo: 50px;
  --tamanho-btn-entrar: 17px;
}

body {
  font-family: var(--font-padrao);
  background-color: var(--fundo-claro);
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titulo);
}

.layout_guide{
  width: 80%;
}