.principal{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 80vh;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 70vh;
    gap: 4rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.content h2{
    text-align: center;
    color: var(--cinza);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--vermelho);
    margin-top: 20px;
}

.info{
    width: 80%;
    height: 45vh;
    display: flex;
    align-content: center;
    gap: 2rem;
}

.descricao{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--cinza);
}

.imagem{
    width: 40%;
    height: 100%;
}


.imagem img {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.detalhes{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    color: var(--cinza);
}

.detalhesLeft, .detalhesRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.detalhes p{
    font-weight: bold;
}

.detalhes span{
    font-weight: normal;
}

.detalhes ul{
    list-style-type: none;
}